/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    background-color: black;
    opacity: 0.9;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

/* Header Styles */
.header {
    background-color: black;
    display: flex;
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo-image {
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    filter: invert(40%);
    -webkit-filter: invert(40%);
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
    overflow: hidden;
}

.nav-list {
    align-content: center;
}

li {
    display: inline-flex;
    padding-right: 10px;
}

a {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
}

/* Mission Section Styles */
.mission-section {
    top: 140px;
    height: 820px;
}

.mission-background {
    background-image: url('/resources/img-mission-background.jpg');
    background-size: cover;
    display: flex;
    position: relative;
    top: 70px;
    margin: 5px 105px;
    width: 1200px;
    height: 700px;
    align-items: center;
}

.mission-content {
    background-color: black;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

h2 {
    margin-top: 15px;
    font-size: 28px;
    font-family: Helvetica;
    color: seashell;
}

h4 {
    margin-top: 15px;
    font-size: 24px;
    font-family: Helvetica;
    color: seashell;
}

.tea-info {
    font-family: Helvetica;
    color: seashell;
    position: relative;
    text-align: center;
}

.tea-images {
    margin-top: 10px;
    width: 1000px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.tea-image {
    height: 200px;
    width: 300px;
    padding: 15px 15px;
}

figcaption {
    font-family: Helvetica;
    color: seashell;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px;
}

/* Location Section Styles */
.location-section {
    margin-top: 20px;
}

.location-background {
    display: flex;
    background-image: url('/resources/img-locations-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 500px;
    margin: 62px auto;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
}

.loc-heading {
    text-align: center;
    width: 100%;
    height: fit-content;
}

.location-item {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.8;
    height: 300px;
    width: 300px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 35px auto;
    font-size: 22px;
}

/*Contact section*/

.contact-container {
    margin: 0 auto;
    width: 1000px;
    height: 200px;
}

.contact-details {
    margin-top: 40px;   
    display: block;
    font-size: 18px;
    font-family: Helvetica;
    color: seashell;
}

/*Footer*/

.footer {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: left;
    
}

h5 {
    margin-top: 15px;
    display: block;
    font-size: 18px;
    font-family: Helvetica;
    color: seashell;
}